<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	name="Yoast WooCommerce SEO"
	xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">

	<description>Yoast WooCommerce SEO rules for PHP_CodeSniffer</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	#############################################################################
	-->

	<file>.</file>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Show progress, show the error codes for each message (source). -->
	<arg value="sp"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check 20 files simultaneously. -->
	<arg name="parallel" value="20"/>


	<!--
	#############################################################################
	USE THE YoastCS RULESET
	#############################################################################
	-->

	<rule ref="Yoast">
		<!-- Set the custom test class whitelist for all sniffs which use it in one go.
			 Ref: https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties#custom-unit-test-classes
		-->
		<properties>
			<property name="custom_test_class_whitelist" type="array">
				<element value="WPSEO_UnitTestCase"/>
				<element value="WPSEO_WooCommerce_UnitTestCase"/>
			</property>
		</properties>
	</rule>


	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<!-- Verify that all gettext calls use the correct text domain. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="yoast-woo-seo"/>
			</property>
		</properties>
	</rule>

	<rule ref="Yoast.Files.FileName">
		<properties>
			<property name="exclude" type="array">
				<!-- Don't trigger on the main file as renaming it would deactivate the plugin. -->
				<element value="wpseo-woocommerce.php"/>
			</property>

			<!-- Remove the following prefixes from the names of object structures. -->
			<property name="prefixes" type="array">
				<element value="wpseo"/>
				<element value="yoast"/>
			</property>
		</properties>
	</rule>

	<!-- Verify that everything in the global namespace is prefixed with a plugin specific prefix. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<!-- Provide the prefixes to look for. -->
			<property name="prefixes" type="array">
				<!-- Temporarily allowed until the prefixes are fixed. -->
				<element value="wpseo"/>
				<element value="yoast"/>
				<element value="initialize_yoast"/>
				<!-- These are the new prefixes which all code should comply with in the future. -->
				<element value="yoast_woocommerce"/>
				<element value="Yoast\WP\Woocommerce"/>
			</property>
		</properties>

		<!-- Valid usage: For testing purposes, some non-prefixed globals are being created. -->
		<exclude-pattern>/integration-tests/bootstrap\.php$</exclude-pattern>
		<exclude-pattern>/tests/bootstrap\.php$</exclude-pattern>
	</rule>

	<!-- Temporary work-around for upstream bug: squizlabs/PHP_CodeSniffer#2228 -->
	<rule ref="Yoast.Files.TestDoubles">
		<properties>
			<property name="doubles_path" type="array">
				<element value="/integration-tests/doubles"/>
				<element value="/tests/doubles"/>
			</property>
		</properties>
	</rule>

	<!--
	#############################################################################
	SELECTIVE EXCLUSIONS
	Exclude specific files for specific sniffs and/or exclude sub-groups in sniffs.
	#############################################################################
	-->

	<!-- Allow for the double/mock classes to override methods just to change the visibility. -->
	<rule ref="Generic.CodeAnalysis.UselessOverridingMethod.Found">
		<exclude-pattern>/integration-tests/doubles/*\.php$</exclude-pattern>
		<exclude-pattern>/tests/doubles/*\.php$</exclude-pattern>
	</rule>

	<!-- Allow for select unit test files to use less secure code. -->
	<rule ref="WordPress.Security">
		<exclude-pattern>/integration-tests/bootstrap\.php$</exclude-pattern>
		<exclude-pattern>/integration-tests/framework/woocommerce-unittestcase\.php$</exclude-pattern>
	</rule>

	<!-- Disable filename sniff for TestCase.php for consistency with wordpress-seo -->
	<rule ref="Yoast.Files.FileName.InvalidClassFileName">
		<exclude-pattern>/tests/TestCase\.php$</exclude-pattern>
	</rule>


	<!--
	#############################################################################
	TEMPORARY TWEAK
	YoastCS will demand short arrays, but until support for WP < 5.2 has been
	dropped, this can - for now - only be allowed (and enforced) for the folders
	containing PHP 5.6+ code.
	#############################################################################
	-->

	<rule ref="Generic.Arrays.DisallowShortArraySyntax">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.Arrays.DisallowLongArraySyntax">
		<include-pattern>/tests/*</include-pattern>
	</rule>

</ruleset>
